<% include ../partials/header %>

<div class = "ui inverted grey vertical masthead center aligned segment">
     <div class = "ui text container">
          <br>
          <h1 class = "ui inverted header">Library App</h1>
          <div class = "ui horizontal divider"><i class = "circular big inverted grey book icon"></i></div>
          <h3 class = "ui inverted header">Learn a little about this book.</h3>
          <a href="/books"><div class="ui animated button" tabindex="0">
                 <div class="visible content">Back</div>
                 <div class="hidden content">
                   <i class="chevron circle left icon"></i>
                 </div>
               </div>
          </a>
          <br>
          <br>
     </div>
     
</div>

<div class = "ui container segment">
    <br>
    <img class = "ui centered medium image" src="<%= book.image %>">
    <br>
    <h2 class = "ui center aligned dividing header">
        <%= book.title %> 
    </h2>
    <h4 class = "ui grey center aligned header">
        <%= book.author.name %>
    </h4>
    
    <div class="ui list">
      <div class="item">
        <i class="hashtag icon"></i>
        <div class="content">
          <a class="header">ISBN</a>
          <div class="description"><%= book.isbn %></div>
        </div>
      </div>
      <div class="item">
        <i class="tags icon"></i>
        <div class="content">
          <a class="header">Genre</a>
          <div class="description"><%= book.genre %></div>
        </div>
      </div>
      <% if (book.seriesNum !== null) { %>
          <div class="item">
            <i class="sort numeric ascending icon"></i>
            <div class="content">
              <a class="header">Number in Series</a>
              <div class="description"><%= book.seriesNum %></div>
            </div>
          </div>
        <% } %>
      <div class="item">
        <i class="search icon"></i>
        <div class="content">
          <a class="header" href = "https://isbnsearch.org/isbn/<%= book.isbn.replace('-', '') %>">Find Online</a>
          <div class="description">Search for this book online.</div>
        </div>
      </div>
    </div>
    <div class = "ui basic center aligned segment">
        <div class = "ui buttons">
          <a href = "/books/<%= book._id %>/edit">
            <button class = "ui button">Edit</button>
          </a>
          <form style="display: inline;" action="/books/<%= book._id %>?_method=DELETE" method = "POST">
            <button class = "ui negative button">Delete</button>
          </form>
        </div>
    </div>
</div>



<% include ../partials/footer %>